<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!--<rule name="Imported Rule 1" enabled="false" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^www\." ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://www.{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>-->                
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^about$" />
                    <action type="Rewrite" url="about.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^people$" />
                    <action type="Rewrite" url="people.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^network/([^/]+)$" />
                    <action type="Rewrite" url="network.php?paramName={R:1}" appendQueryString="true" />
                </rule>
                <!--<rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^network$" />
                    <action type="Rewrite" url="network.php" appendQueryString="true" />
                </rule>-->
				<rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^networksearch$" />
                    <action type="Rewrite" url="networksearchphp" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^contact$" />
                    <action type="Rewrite" url="contact.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
